a {
    text-decoration: none;
}

header {
    display: flex;
    margin: auto;
    max-width: 100%;
    text-align: center;
    position: fixed;
    background-color: white;
    top: 0;
}

header img {
    max-width: 20%;
    margin: auto;
}

header p {
    font-size: 1.5em;
    margin: auto;
    max-width: 90%;
    font-family: aclonica, sans-serif;
}

header div {
    display: flex;
    flex-flow: column;
    max-width: 100%;
}

.menu {
    display: flex;
    flex-flow: row;
    width: 70%;
}

.menu a {
    margin: 10%;
    max-width: 100%;
}

.menu h1 {
    font-size: 1.2em;
}

div {
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    align-items: center;
    margin: auto;
    font-family: aclonica, sans-serif;
}

div img {
    max-width: 80%;
}

div p {
    font-size: 1.5em;
    margin: auto;
    padding: 5%;
}

div p a:hover {
    color: darkgrey;
}

#reverb-tile {
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
    color: darkgrey;
}


footer a:hover {
    color: black;
}