a {
    text-decoration: none;
}

header {
    display: block;
    margin: auto;
    max-width: 100%;
    text-align: center;
}

header img {
    max-width: 30%;
}

header p {
    font-size: 1.5em;
    margin: auto;
    max-width: 50%;
    font-family: abel, sans-serif;
}

div {
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    align-items: center;
    margin: auto;
    font-family: abel, sans-serif;
}

div img {
    max-width: 80%;
}

div p {
    font-size: 1.5em;
}

div p a:hover {
    color: darkgrey;
}

footer {
    text-align: center;
    color: darkgrey;
}


footer a:hover {
    color: black;
}