.search {
    max-width: 70%;
    background-color: darkgrey;
    text-align: center;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: abel, sans-serif;
}

footer {
    bottom: 0;
    text-align: center;
    margin: auto;
    width: 100%;
    position: fixed;
}